
@{
    ViewBag.Title = "LoggedIn";
}

@if (Session["UserAccountID"] != null)
{
    <h4>Hello @Session["Username"].ToString()</h4>
}
<h2>LoggedIn</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sheena Shrestha </h3>
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <th>Department:</th>
                                        <td>Programming</td>
                                    </tr>
                                    <tr>
                                        <th>Hire date:</th>
                                        <td>06/23/2013</td>
                                    </tr>
                                    <tr>
                                        <th>Date of Birth</th>
                                        <td>01/24/1988</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <th>Gender</th>
                                        <td>Female</td>
                                    </tr>
                                    <tr>
                                        <th>Home Address</th>
                                        <td>Kathmandu,Nepal</td>
                                    </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><a href="mailto:info@support.com">info@support.com</a></td>
                                </tr>
                                  <tr>
                                <th>Phone Number</th>
                                <td>
                                    123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                                </td>

                                </tr>

                                </tbody>
                            </table>

                            <a href="#" class="btn btn-primary">As Minhas Exposições</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6">jksanjkdsanandasjkndsjkaas
            <h2>sabdjkshabdjhbasjh</h2>
            <h2>sabdjkshabdjhbasjh</h2><h2>sabdjkshabdjhbasjh</h2><h2>sabdjkshabdjhbasjh</h2>
        </div>
    </div>
</div>

