@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);


.table-add {
	color: #070;
	cursor: pointer;
	position: absolute;
	font-size: 30px;
	top: -10px;
	right: 0;
	
	
}
.table-add:hover {
	color: #0b0;
	 text-decoration: none;
	}
.message {
	color: #ff3333
}

